dconf/
gconf/
autostart/
git-prompt.sh
gtk-2.0/
gtk-3.0/
kcalcrc
libreoffice/
matplotlib/
menus/
mimeapps.list
pavucontrol.ini
pulse/
QtProject.conf
Skype
transmission/
Trolltech.conf
vlc/
google-chrome/
gedit/
