<div id="updated-modal">
	<div class="modal-title"><%= t('panel_modal_upgrade_title') %></div>
	<ul class="updated"><%= t('panel_modal_upgrade_subtitle_1') %>
		<li><%= t('panel_modal_upgrade_bullet_1') %></li>
		<li><%= t('panel_modal_upgrade_bullet_2') %></li>
		<li><%= t('panel_modal_upgrade_bullet_3') %></li>
		<li><%= t('panel_modal_upgrade_bullet_4') %></li>
	</ul>
	<div class="modal-button-container">
		<button class="button update-dismiss account-dismiss get-started">
			<%= t('panel_modal_upgrade_continue') %>
		</button>
		<div class="account-blurb hide-logged-in">
			<%= t('panel_modal_upgrade_account_blurb') %>
		</div>
	</div>
	<div class="location-container">
		<svg height="8" width="22">
			<circle class="first-circle" cx="4" cy="4" r="4" stroke="none" fill="#d8d8d8" />
			<circle class="second-circle" cx="18" cy="4" r="4" stroke="none" fill="#d8d8d8" />
		</svg>
	</div>
</div>
