@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir-next/AvenirNext-Heavy.woff") format("woff"), url("/fonts/avenir-next/AvenirNext-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir-next/AvenirNext-HeavyItalic.woff") format("woff"), url("/fonts/avenir-next/AvenirNext-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
